[Desktop Entry]
Encoding=UTF-8
Name=Privat
Comment=Privat P2P Cryptocurrency
Comment[fr]=Privat, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Privat, eşten eşe kriptografik sanal para birimi
Exec=privat-qt %u
Terminal=false
Type=Application
Icon=privat128
MimeType=x-scheme-handler/privat;
Categories=Office;Finance;
